
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*----------------Settlers_Board_Pieces------------------*/

ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

ul.tile-row {
    text-align: center;
}

.board-tile {
    display: inline-block;
    vertical-align: middle;
    width: 18.75%;
    height: 150px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center center;
 }

.brick-terrain { background-image: url('/Content/Images/Brick-Tile.png'); }
.desert-terrain { background-image: url('/Content/Images/Desert-Tile.png'); }
.ore-terrain { background-image: url('/Content/Images/Ore-Tile.png'); }
.sheep-terrain { background-image: url('/Content/Images/Sheep-Tile.png'); }
.wheat-terrain { background-image: url('/Content/Images/Wheat-Tile.png'); }
.wood-terrain { background-image: url('/Content/Images/Wood-Tile.png'); }

.number-token {
    margin-top:40px;
}

#board {
    width: 840px;
    height: 660px;
    background-color: maroon;
    float: left;
    border-radius: 5px;
}

#board > li {
    height: 18.75%;
}

#player-info {
    width: 950px;
    height: 660px;
    background-color: lightgray;
    float: right;
    position: relative;
    border-radius: 5px;
}

.player-box {
    height: 300px;
    width: 440px;
    background-color: darkgray;
    position: relative;
    border-radius: 15px;
    margin-top: 20px;
   
}

.player-odd {
    float: left;
    margin-left: 20px;
}

.player-even {
    float: right;
    margin-right: 20px;
}

#data-container {
    float: left;
}




