
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*----------------Settlers_Board_Pieces------------------*/

.sheep:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #82f96d;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.sheep {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #82f96d;
    position: relative;
    margin-left: 3px;
}

.sheep:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #82f96d;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.wheat:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #e8f606;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.wheat {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #e8f606;
    position: relative;
    margin-left: 3px;
}

.wheat:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #e8f606;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.ore:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #3b3c3b;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.ore {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #3b3c3b;
    position: relative;
    margin-left: 3px;
}

.ore:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #3b3c3b;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.brick:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #e52c10;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.brick {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #e52c10;
    position: relative;
    margin-left: 3px;
}

.brick:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #e52c10;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.wood:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #0c740f;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.wood {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #0c740f;
    position: relative;
    margin-left: 3px;
}

.wood:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #0c740f;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.desert:before {
    float: left;
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #4f6319;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.desert {
    float: left;
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #4f6319;
    position: relative;
    margin-left: 3px;
}

.desert:after {
    float: left;
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #4f6319;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

