<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Settlers Of Catan!</title>
    <link rel="stylesheet" href="~/Content/Instance.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/instance.js"></script>
</head>

<body>
    <ul id="board">
        <li>
            <ul class="tile-row">
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
            </ul>
        </li>
        <li>
            <ul class="tile-row">
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
            </ul>
        </li>
        <li>
            <ul class="tile-row">
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
            </ul>
        </li>
        <li>
            <ul class="tile-row">
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
            </ul>
        </li>
        <li>
            <ul class="tile-row">
                <li class="board-tile"></li>
                <li class="board-tile"></li>
                <li class="board-tile"></li>
            </ul>
        </li>
    </ul>

    <ul id="player-info">
        <li>
            <div id="player-one" class="player-box player-odd">I am player one!
                <div class="resource-display"><span></span></div>
                <div class="resource-display"><span></span></div>
                <div class="resource-display"><span></span></div>
                <div class="resource-display"><span></span></div>
                <div class="resource-display"><span></span></div>
            </div>
        </li>
        <li>
            <div id="player-two" class="player-box player-even">I am player two!</div>
        </li>
        <li>
            <div id="player-three" class="player-box player-odd">I am player three!</div>
        </li>
        <li>
            <div id="player-four" class="player-box player-even">I am player four!</div>
        </li>
    </ul>

    <button id="roll-die-button">Click Here to Roll the Dice!</button>

    <div id="result-of-roll">Last Roll Value: 
        <span>No Roll Yet...</span>
    </div>

</body>

</html>