<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Settlers Of Catan!</title> 
    <link rel="stylesheet" href="~/Content/Instance.css" />        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/instance.js"></script>
</head>

<body>            
    <ul id="board">
        <li>
            <ul class="three-row">
                <li><div id="space-0" class="board-tile"></div></li>
                <li><div id="space-1" class="board-tile"></div></li>
                <li><div id="space-2" class="board-tile"></div></li>
            </ul>
        </li>
        <li>
            <ul class="four-row">
                <li><div id="space-3" class="board-tile"></div></li>
                <li><div id="space-4" class="board-tile"></div></li>
                <li><div id="space-5" class="board-tile"></div></li>
                <li><div id="space-6" class="board-tile"></div></li>
            </ul>
        </li>
        <li>
            <ul class="five-row">
                <li><div id="space-7" class="board-tile"></div></li>
                <li><div id="space-8" class="board-tile"></div></li>
                <li><div id="space-9" class="board-tile"></div></li>
                <li><div id="space-10" class="board-tile"></div></li>
                <li><div id="space-11" class="board-tile"></div></li>
            </ul>
        </li>
        <li>
            <ul class="four-row">
                <li><div id="space-12" class="board-tile"></div></li>
                <li><div id="space-13" class="board-tile"></div></li>
                <li><div id="space-14" class="board-tile"></div></li>
                <li><div id="space-15" class="board-tile"></div></li>
            </ul>
        </li>
        <li>
            <ul class="three-row">
                <li><div id="space-16" class="board-tile"></div></li>
                <li><div id="space-17" class="board-tile"></div></li>
                <li><div id="space-18" class="board-tile"></div></li>
            </ul>
        </li>
    </ul>

    <ul id="player-info">
        <li>            
            <div id="player-one" class="player-box player-odd">I am player one!</div>
        </li>
        <li>            
            <div id="player-two" class="player-box player-even">I am player two!</div>
        </li>
        <li>            
            <div id="player-three" class="player-box player-odd">I am player three!</div>
        </li>
        <li>            
            <div id="player-four" class="player-box player-even">I am player four!</div>
        </li>
    </ul>

    <div id="data-container"></div>

</body>

</html>
