<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />

        <title>Instance</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
        <link rel="stylesheet" href="~/Content/Site.css" />
        
<!--
        <script>        
            $(function () {
                var appendType = function (i, value) {
                    $("#container").append(i+ " " +value + " " )
                };

                var initializeBoard = function (data) {
                    $.each(data.Tiles, appendType);
                };

                $.ajax({
                    url: "/Game/CreateBoard"
                }).done(initializeBoard);

            });
        </script>
-->

    </head>

    <body>            
        <ol id="board">
            <li>
                <ol class="three-row">
                    <li><img src="~/Content/Images/Wheat-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wood-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Sheep-Tile.png" class="tile-scale"/></li>
                </ol>
            </li>
            <li>
                <ol class="four-row">
                    <li><img src="~/Content/Images/Desert-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Ore-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Brick-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wood-Tile.png" class="tile-scale"/></li>
                </ol>
            </li>
            <li>
                <ol class="five-row">
                    <li><img src="~/Content/Images/Brick-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wood-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wheat-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Ore-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Desert-Tile.png" class="tile-scale"/></li>
                </ol>
            </li>
            <li>
                <ol class="four-row">
                    <li><img src="~/Content/Images/Desert-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Ore-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Brick-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wood-Tile.png" class="tile-scale"/></li>
                </ol>
            </li>
            <li>
                <ol class="three-row">
                    <li><img src="~/Content/Images/Wheat-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Wood-Tile.png" class="tile-scale"/></li>
                    <li><img src="~/Content/Images/Sheep-Tile.png" class="tile-scale"/></li>
                </ol>
            </li>
        </ol>
    </body>
</html>
